# Data Types and Structures Questions

Q1. What are data structures, and why are they important?
- The way of organizing and storing data so that it can be easily access and manipulated efficiently.
-  they are important because they improve the performance of algorithms, enable efficient data management for large datasets, and are fundamental for building robust and scalable software applications

Q2.  Explain the difference between mutable and immutable data types with examples.
 - Mutable and immutable data types differ in whether their values can be changed after creation.
 - Mutable data types are those whose values can be modified in place after they are created. This means that operations performed on a mutable object can change its internal state without creating a new object in memory.
 - Immutable data types are those whose values cannot be changed after they are created. Any operation that appears to modify an immutable object actually results in the creation of a new object with the desired changes, leaving the original object unchanged

Q3. What are the main differences between lists and tuples in Python?
 - lists and tuples both store collections of data, but differ in   mutability, performance and memory usage. Lists are mutable, allowing modifications, while tuples are immutable

Q4. Describe how dictionaries store data.
- dictionaries store data as collections of key-value pairs. This structure allows for efficient retrieval of values based on their associated keys.
- also known as associative arrays, hash maps, or hash tables in various programming languages.

Q5.   Why might you use a set instead of a list in Python.
 - In Python set instead of a list is advantageous in specific scenarios where their unique characteristics are beneficial.
 Sets inherently store only unique elements, Sets are implemented using hash tables, which allows for very efficient membership testing with an average time complexity of O(1) (constant time),
 Sets natively support mathematical set operations like union, intersection, difference, and symmetric difference.

Q6. What is a string in Python, and how is it different from a list?
 - a string is a sequence of characters enclosed in quotes. It can include letters, numbers, symbols or spaces. Since Python has no separate character type, even a single character is treated as a string with length one. Strings are widely used for text handling and manipulation.
 - some difference is Strings are immutable and list is mutable

Q7.  How do tuples ensure data integrity in Python?
 - Tuples in Python ensure data integrity primarily through their immutability. This means that once a tuple is created, its elements cannot be changed, added, or removed.

Q8. What is a hash table, and how does it relate to dictionaries in Python?
 - A Hash Table is a data structure designed to be fast to work with.
  The reason Hash Tables are sometimes preferred instead of arrays or linked lists is because searching for, adding, and deleting data can be done really quickly, even for large amounts of data.
 - Python dictionaries are implemented using hash tables. This means that when you use a dictionary in Python, you are indirectly interacting with a hash table.

Q9. Can lists contain different data types in Python?
 - Yes, lists in Python can contain different data types. A single list can hold a mix of integers, floats, strings, booleans, and even other lists or dictionaries.

Q10.  Explain why strings are immutable in Python?
 - Strings are immutable in Python, which means once a string is created, you can't change it. You can't modify its characters or its length.

Q11. What advantages do dictionaries offer over lists for certain tasks?
 - Dictionaries offer several key advantages over lists for certain tasks, primarily due to their key-value structure and hash table implementation,  Fast Lookups and Access, Semantic and Descriptive Data Storage, Ease of Insertion, Deletion, and Modification.

Q12.  Describe a scenario where using a tuple would be preferable over a list?
 - where you have a collection of items that should not change. A tuple's immutability ensures data integrity and can make the code more efficient and readable,here tuple would be preferable over a list.

Q13. How do sets handle duplicate values in Python?
 - Python sets fundamentally do not allow duplicate values. When you attempt to add an element that already exists in a set, the set will simply ignore the addition and remain unchanged. It does not raise an error, nor does it store multiple copies of the same value.

Q14. How does the “in” keyword work differently for lists and dictionaries.
 - The in keyword checks for the existence of an item. Its behavior is different for lists and dictionaries because of the underlying data structures and how they are searched.
 -Lists
For lists, the in keyword performs a linear search. It checks each element in the list one by one to see if it matches the value you are looking for.
 - Dictionaries
For dictionaries, the in keyword checks for the existence of a key. It uses the dictionary's underlying hash table implementation to perform a very fast lookup.

Q15. Can you modify the elements of a tuple? Explain why or why not.
 - Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.
 -  Tuples are immutable, meaning once a tuple is created, its contents cannot be changed or modified.

 Q16. What is a nested dictionary, and give an example of its use case?
 - A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to create a hierarchical or multi-layered data structurec.
  Ex. A common use case for a nested dictionary is to store complex, related data, like a database of students in a school. Each student can be a key in the main dictionary, and their corresponding value can be another dictionary containing their personal information and grades.

Q17. Describe the time complexity of accessing elements in a dictionary.
 - The time complexity of accessing elements in a dictionary, such as in Python, is generally O(1) on average. This means that the time taken to retrieve a value associated with a key is constant, regardless of the number of elements in the dictionary.

Q18. In what situations are lists preferred over dictionaries.
 - Lists are preferred over dictionaries in situations where
   1.Elements are accessed by numerical index.
   2.Order of elements is crucial.
   3.Duplicate elements are allowed and meaningful.
   4.Sequential processing or iteration is the primary operation.
   5.Simple, ordered collections of data are required.
   6.Appending or extending the collection is a frequent operation.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.
 - the order in which you inserted key-value pairs was not preserved, and iterating over the dictionary might yield a different order each time.
 - dictionaries were not insertion-ordered. This meant that the order of key-value pairs was unpredictable and could change, making it impossible to rely on the sequence for data retrieval. You couldn't assume that the first item you added would be the first one you retrieved when iterating.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
 - The core difference between a list and a dictionary in terms of data retrieval is how you access the elements. Lists use numerical indices for access, while dictionaries use keys.
 List : Ordered Collection, Indexed Retrieval, Sequential Search (for values).
 Dictionaries:Unordered Key-Value Pairs, Key-Based Retrieval, Direct Lookup (using keys).

 # practical Questions

 Q1. Write a code to create a string with your name and print it.

In [1]:
   # create a string with name syed
my_name = "syed"
print(my_name)

syed

Q2. Write a code to find the length of the string "Hello World".

In [2]:
# length if "hello world"
my_string = "Hello World"
length = len(my_string)
print(f"The length of the string is: {length}")

The length of the string is: 11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
original_string = "Python Programming"

first_three_chars = original_string[:3]

# Print the result.
print(f"Original string: {original_string}")
print(f"First three characters: {first_three_chars}")

Original string: Python Programming
First three characters: Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [4]:
my_string = "hello"
uppercase_string = my_string.upper()
print(f"Original string: {my_string}")
print(f"Uppercase string: {uppercase_string}")

Original string: hello
Uppercase string: HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
original_string = "I like apple"
new_string = original_string.replace("apple", "orange")
print(f"Original string: {original_string}")
print(f"Modified string: {new_string}")

Original string: I like apple
Modified string: I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
numbers = [1, 2, 3, 4, 5]

# Print the entire list.
print(numbers)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
numbers = [1, 2, 3, 4]

numbers.append(10)

# Print the modified list to see the result.
print(numbers)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [9]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(f"The second element is: {second_element}")

The second element is: b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
numbers = [10, 20, 30, 40, 50]
print(f"Original list: {numbers}")
numbers.reverse()
print(f"Reversed list: {numbers}")

Original list: [10, 20, 30, 40, 50]
Reversed list: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
my_tuple = (100, 200, 300)

print(my_tuple)

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]

# Print the retrieved element.
print(f"The tuple is: {my_tuple}")
print(f"The second-to-last element is: {second_to_last_element}")

The tuple is: ('red', 'green', 'blue', 'yellow')
The second-to-last element is: blue

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(f"The tuple is: {numbers}")
print(f"The minimum number is: {min_number}")

The tuple is: (10, 20, 5, 15)
The minimum number is: 5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')

cat_index = animals.index('cat')

# Print the result.
print(f"The tuple is: {animals}")
print(f"The index of 'cat' is: {cat_index}")

The tuple is: ('dog', 'cat', 'rabbit')
The index of 'cat' is: 1

 Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in fruits

# Print the result.
print(f"The tuple is: {fruits}")
print(f"Is 'kiwi' in the tuple? {is_kiwi_in_tuple}")

The tuple is: ('apple', 'banana', 'orange')
Is 'kiwi' in the tuple? False

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
# a set with the elements 'a', 'b', and 'c'.
my_set = {'a', 'b', 'c'}

print(my_set)

{'a', 'c', 'b'}

Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
# Create a set
my_set = {1, 2, 3, 4, 5}

print(f"Original set: {my_set}")
my_set.clear()
print(f"Set after using .clear(): {my_set}")

Original set: {1, 2, 3, 4, 5}
Set after using .clear(): set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
print(f"Original set: {my_set}")
my_set.remove(4)
print(f"Set after removing 4: {my_set}")

Original set: {1, 2, 3, 4}
Set after removing 4: {1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union of the sets: {union_set}")

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Union of the sets: {1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
# Define the two sets.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Intersection of the sets: {intersection_set}")

Set 1: {1, 2, 3}
Set 2: {2, 3, 4}
Intersection of the sets: {2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
person_info = {
    "name": "Syed",
    "age": 31,
    "city": "Amravati"
}

print(person_info)

{'name': 'Syed', 'age': 31, 'city': 'Amravati'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [24]:
person_info = {
    "name": "John",
    "age": 25
}
person_info["country"] = "USA"
print(person_info)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [25]:
person_info = {
    "name": "Alice",
    "age": 30
}
name = person_info["name"]
print(name)

Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [26]:
person_info = {
    "name": "Bob",
    "age": 22,
    "city": "New York"
}

del person_info["age"]
print(person_info)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [27]:
person_info = {
    "name": "Alice",
    "city": "Paris"
}

has_city = "city" in person_info

print(has_city)

True

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [28]:
my_list = [10, 20, 30, 40]

my_tuple = ('apple', 'banana', 'cherry')

my_dictionary = {
    "name": "Alex",
    "age": 28,
    "city": "London"
}

print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dictionary)

My List: [10, 20, 30, 40]
My Tuple: ('apple', 'banana', 'cherry')
My Dictionary: {'name': 'Alex', 'age': 28, 'city': 'London'}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [29]:

import random

random_numbers = []

for _ in range(5):
    random_number = random.randint(1, 100)
    random_numbers.append(random_number)

print("Original list:", random_numbers)

random_numbers.sort()

print("Sorted list:", random_numbers)

Original list: [41, 72, 53, 8, 22]
Sorted list: [8, 22, 41, 53, 72]

Q28. Write a code to create a list with strings and print the element at the third index.

In [30]:
fruits = ["apple", "banana", "cherry", "orange", "grape"]

third_index_element = fruits[3]

print("The element at the third index is:", third_index_element)

The element at the third index is: orange

Q29. Write a code to combine two dictionaries into one and print the result.

In [32]:

dict1 = {'name': 'syed', 'age': 30}

dict2 = {'city': 'Amravati', 'country': 'IMDIA'}

combined_dict = {**dict1, **dict2}

print(combined_dict)

{'name': 'syed', 'age': 30, 'city': 'Amravati', 'country': 'IMDIA'}

Q30. Write a code to convert a list of strings into a set.

In [33]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]

string_set = set(string_list)

print(string_set)

{'banana', 'cherry', 'apple'}